<link href="~/css/adm.css" rel="stylesheet" />

<div class="containerrr">
    <h1>Painel do Administrador</h1>
    <div class="button-container">
        <a href="@Url.Action("BuscarClientes", "Admin")" class="link">
            <button class="button">Clientes</button>
        </a>
        <a href="@Url.Action("MostrarCategorias", "Admin")" class="link">
        <button class="button">Categorias</button>
        </a>
        <a href="@Url.Action("MostrarPecasCategorias", "Admin")" class="link">
        <button class="button">Peças</button>
        </a>
        <a href="@Url.Action("MostrarCarrinhos", "Admin")" class="link">
        <button class="button">Carrinho de Compra</button>
        </a>
        <a href="@Url.Action("PedidosM", "Admin")" class="link">
        <button class="button">Pedidos</button>
    </div>
</div>