@model HayumiWeb.Models.PecaModel

<link href="~/css/product.css" rel="stylesheet" />

<div class="row g-4">
    <!-- Coluna da imagem do produto (esquerda) -->
    <div class="col-md-6 d-flex justify-content-center">
        <!-- Container da imagem principal -->
        <div class="main-image bg-light border rounded mb-3">
            <img src="~/img/@Model.ImgPeca" alt="@Model.NomePeca" class="img-fluid" style="max-width: 500px; max-height: 400px; object-fit: contain;" />
        </div>
    </div>

    <!-- Coluna para os detalhes do produto (direita) -->
    <div class="col-md-6" style="min-height: 400px;">
        <!-- Garantindo que tenha uma altura mínima -->
        <!-- Nome do produto -->
        <h1 style="color:#000B54;">@Model.NomePeca</h1>

        <!-- Descrição do produto -->
        <p class="text-muted" style="color:#000B54;     max-width: 600px; text-align: justify;">
            @Model.Descricao
        </p>

        <!-- Preço do produto -->
        <p class="h4 fw-bold" style="color:#000B54;">
            @Model.ValorPeca.ToString("C")
        </p>
        <p class="text-muted" style="color:#000B54;">
           Estoque: @Model.QtdEstoque
        </p>


        <!-- Botão de adicionar ao carrinho -->
        <div class="d-flex gap-2 mt-5" style="display: block;">
            <!-- Garantindo um bom espaçamento e tamanho para o botão -->
            <form method="post" asp-action="Adicionar" asp-controller="Carrinho">
                <input type="hidden" name="pecaId" value="@Model.PecaId" />
                <!-- Campo de quantidade com valor padrão 1 -->
                @if (Model.QtdEstoque <= 0)
                {
                    <input type="number" name="quantidade" value="1" min="1" max="@Model.QtdEstoque" disabled class="form-control" />
                    <!-- Botão para adicionar ao carrinho -->
                    <button type="submit" disabled class="prodcomprarr">Estoque indisponível</button>
                }
                else
                {
                    <input type="number" name="quantidade" value="1" min="1" max="@Model.QtdEstoque" class="form-control" />
                    <!-- Botão para adicionar ao carrinho -->
                    <br /><br />
                    <button type="submit" class="prodcomprare">Adicionar ao Carrinho</button>
                }
            </form>
        </div>
    </div>
</div>








