@model HayumiWeb.Models.PecaViewModel

<link href="~/css/product.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        @foreach (PecaModel pecaModel in Model.Pecas)
        {
            <div class="col-md-4">
                <div class="product-card">
                    <img src="~/img/@pecaModel.ImgPeca" alt="@pecaModel.NomePeca" width="300px" height="200px">
                    <h5>@pecaModel.NomePeca</h5>
                    <p class="price">@pecaModel.ValorPeca.ToString("C")</p>
                    <a asp-controller="Peca" asp-action="Detalhes" asp-route-pecaId="@pecaModel.PecaId"><button class="proddetalhes">Detalhes</button></a>
                    <form method="post" asp-action="Adicionar" asp-controller="Carrinho">
                        <input type="hidden" name="pecaId" value="@pecaModel.PecaId" />
                        <!-- Campo de quantidade com valor padrão 1 -->

                        @if(pecaModel.QtdEstoque <= 0)
                        {
                            <input type="number" name="quantidade" value="1" min="1" max="@pecaModel.QtdEstoque" disabled class="form-control" />
                            <!-- Botão para adicionar ao carrinho -->
                            <button type="submit" disabled class="prodcomprarr">Estoque indisponível</button>
                        }
                        else
                        {
                            <input type="number" name="quantidade" value="1" min="1" max="@pecaModel.QtdEstoque" class="form-control" />
                            <!-- Botão para adicionar ao carrinho -->
                            <button type="submit" class="prodcomprar">Adicionar ao Carrinho</button>
                        }
                    </form>
                   
                </div>
            </div>
        }
    </div>
</div>