@model HayumiWeb.Models.ClienteModel

@if (ViewData["MensagemErro"] != null)
{
    <div>@ViewData["MensagemErro"]</div>
}

@using (Html.BeginForm("Cadastro", "Cliente", FormMethod.Post))
{
    @Html.LabelFor(c => c.Nome, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.Nome, new { @class = "form-text" })
    <br />
    //Endereco CPF Email CEP Telefone
    @Html.LabelFor(c => c.Endereco, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.Endereco, new { @class = "form-text" })
    <br />

    @Html.LabelFor(c => c.CPF, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.CPF, new { @class = "form-text" })
    <br />

    @Html.LabelFor(c => c.Email, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.Email, new { @class = "form-text" })
    <br />

    @Html.LabelFor(c => c.CEP, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.CEP, new { @class = "form-text" })
    <br />

    @Html.LabelFor(c => c.Telefone, new { @class = "form-label" })
    @Html.TextBoxFor(c => c.Telefone, new { @class = "form-text" })
    <br />

    <button type="submit">Cadastrar</button>
}


